/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	display: flex;
	justify-content: center;
	height: 100vh;
	font-family: "VT323", monospace;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

/* GAME */
:root {
	--cyan: #7ed1e2;
	--pink: #ff61d8;
	--orange: #ffcc81;
	--green: #a5ea9b;
	--primary-color: #595f43;
	--secondary-color: #abb78a;
	--tertiary-color: #8b966c;
	--accent-color: #c4cfa3;
	--text-color: #333333;
	--text-color-light: #abb78a;
	--text-color-dark: #030303;
	--background-color: #1a1e2d;
	--white-color: #ffffff;
}

body {
	background-color: var(--background-color);
}

.game-container {
	margin-top: 120px;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game-board {
	border-radius: 100px;
	display: none;
	grid-template-columns: repeat(20, 20px);
	grid-template-rows: repeat(20, 20px);
	margin: 5px;
}

.game-border-outline {
	border: var(--primary-color) solid 10px;
	border-radius: 30px;
	box-shadow: inset 0 0 0 10px var(--primary-color);
}

.game-border-inline {
	border: var(--secondary-color) solid 8px;
	border-radius: 26px;
	box-shadow: inset 0 0 0 10px var(--secondary-color);
}

.game-border {
	border: var(--tertiary-color) solid 12px;
	border-radius: 20px;
	box-shadow: inset 0 0 0 5px var(--tertiary-color);
	position: relative;
}

.instruction-text {
	text-align: center;
	text-transform: capitalize;
	font-size: 2rem;
	color: var(--text-color);
	max-width: 300px;
}
.score-container {
	margin-right: 15px;
}

.score-title {
	color: var(--cyan);
}

.score-title {
	color: var(--cyan);
}

.high-score-title {
	color: var(--pink);
}

.scores {
	display: flex;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	padding: 0.3125rem 1rem;
	background-color: var(--background-color);
	webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.57);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.57);
}

#see-scores {
	padding: 0 30px;
	color: var(--green);
	font-size: 1.5rem;
	letter-spacing: 2px;
	cursor: pointer;
}

.scores-container {
	width: 100%;
	max-width: 440px;
	position: relative;
	display: flex;
	font-size: 1.5rem;
	font-weight: bolder;
}

#score {
	color: var(--white-color);
}

#high-score {
	color: var(--orange);
}

.game-border {
	background-color: var(--accent-color);
}

.snake {
	border: #5a5a5a 1px dotted;
	background: #414141;
}

.snake-die {
	animation-delay: -2s;
	animation: blink-animation 0.25s steps(4, start) infinite;
	-webkit-animation: blink-animation 0.25s steps(4, start) infinite;
}

.food {
	background-color: #dedede;
	border: #999999 5px solid;
}

#instructions-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	align-content: center;
	width: 410px;
	height: 410px;
}

.controls {
	display: flex;
	justify-content: center;
	margin-top: 24px;
	align-items: center;
	flex-flow: column nowrap;
}

.control-container {
	display: none;
	text-align: center;
}

.arrow-key:active,
.arrow-key.press {
	box-shadow:
		0px 0px 0 #999,
		0px 0px 0 #999,
		0px 0px 0 #999,
		-1px 1px 0 #999;
	transform: translate3d(-3px, 3px, 0);
}
.arrow-key.left:before {
	content: "\2190";
}

.arrow-key.up:before {
	content: "\2191";
}

.arrow-key.down:before {
	content: "\2193";
}

.arrow-key.right:before {
	content: "\2192";
}

.arrow-key {
	align-items: center;
	background: var(--secondary-color);
	border-radius: 6px;
	box-shadow:
		-1px 1px 0 #999,
		-2px 2px 0 #999,
		-3px 3px 0 #999,
		-4px 4px 0 #999;
	color: #fff;
	display: inline-flex;
	font-size: 30px;
	font-weight: bold;
	height: 75px;
	justify-content: center;
	margin: 5px;
	transition:
		box-shadow 0.1s linear,
		transform 0.1s linear;
	width: 75px;
}

.eightbit-btn {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: var(--secondary-color);
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 32px;
	padding: 6px 12px;
	text-decoration: none;
	color: var(--text-color);
	box-shadow: inset -2px -2px 0 0 var(--primary-color);
	margin: 12px;
	cursor: pointer;
}

.eightbit-btn:hover,
.eightbit-btn:focus {
	background: var(--secondary-color);
	box-shadow: inset -4px -4px 0 0 var(--tertiary-color);
}
.eightbit-btn:active {
	box-shadow: inset 2px 2px 0 0 var(--tertiary-color);
}
.eightbit-btn:before,
.eightbit-btn:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}
.eightbit-btn:before {
	top: -4px;
	left: 0;
	border-top: 4px var(--primary-color) solid;
	border-bottom: 4px var(--primary-color) solid;
}
.eightbit-btn:after {
	left: -4px;
	top: 0;
	border-left: 4px var(--primary-color) solid;
	border-right: 4px var(--primary-color) solid;
}

@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}

@media (max-width: 480px) {
	#game-board {
		grid-template-columns: repeat(20, 12px);
		grid-template-rows: repeat(20, 12px);
	}

	#instructions-container {
		width: 250px;
		height: 250px;
	}

	.logo {
		height: 100px;
		max-height: 160px;
	}

	.instruction-text {
		font-size: 1.5rem;
		max-width: 200px;
	}
}

#start-button {
	min-height: 170px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.instructions {
	color: var(--white-color);
	max-width: 300px;
	margin-top: 15px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.title {
	font-size: 3rem;
}

.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	color: var(--text-color-light);
}

#score-table-container {
	text-align: center;
}

.retro-title {
	color: var(--accent-color);
}

#score-table {
	display: inline-block;
	margin: 0;
	width: 100%;
}

.score-entry > div {
	color: var(--text-color);
	font-size: 1.5rem;
	border-collapse: collapse;
	min-width: 100px;
	width: 100%;
}

.header-score,
.score {
	text-align: right;
}

.score-entry {
	display: inline-block;
	text-align: left;
	margin: 12px 0;
}

/* Styling dots with overflow */
.score-entry .dots {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	top: -10px;
}

.score-header,
.score-entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;
}

.score-header > div {
	font-weight: bold;
	color: var(--text-color-dark);
	min-width: 100px;
	width: 100%;
}

.score-table-container {
	width: 100%;
	display: inline-block;
	margin: 24px 0;
	background-color: var(--accent-color);
	max-width: 380px;
	max-height: 390px;
	padding: 30px;
	border: var(--primary-color) solid 10px;
	position: relative;
}

.modal {
	background-color: rgba(3, 3, 3, 0.7);
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}
